name: PR
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/**

permissions:
  contents: write

jobs:
  build:
    name: Build Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Verify dependencies
        run: go mod verify

      - name: Build the project
        run: go build -v ./...
